:root {
  --primary-bg: #659f8f;
  --dark-bg: #313131;
  --accent: #d86943;
  --accent-hover: #b85c38;
  --text-dark: #313131;
  --text-light: #ffffff;
}

body {
  box-sizing: border-box;
  margin: 0;
  list-style: inherit; /*Arial, sans-serif;*/
}

.footer {
  background-color: var(--primary-bg);
  color: var(--text-dark);
  /*padding: 3rem 1.5rem;
  /*margin: auto;*/
}

.container {
  width: 100%; /*1200px;*/
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
}

.subscribe-section {
  grid-column: span 2;
}

.subscribe-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 2rem;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}
/* 
@media (min-width: 640px) {
  .subscribe-form {
    flex-direction: row;
  }
} */

.subscribe-input {
  padding: 0.5rem 1rem;
  border: 1px solid #e5e7eb; /*var(--text-dark);*/
  border-radius: 0.375rem;
  font-size: 100%;
  color: var(--text-dark);
  /*flex: 1;*/
}

.subscribe-button {
  padding: 0.625rem 1.5rem;
  background-color: var(--accent);
  color: var(--text-light);
  border: none;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: var(--accent-hover);
}

.links-section {
  margin-bottom: 1rem;
}

.links-title {
  font-weight: 600;
  margin-bottom: 1rem;
  /*color: #313131;*/
}

.links-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.links-list a {
  color: var(--text-dark);
  text-decoration: none;
  transition: color 0.3s;
}

.links-list a:hover {
  color: var(--accent);
}

.divider {
  border: none;
  border-top: 1px solid var(--accent);
  margin: 2rem 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 1.75rem;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .subscribe-form {
    flex-direction: row;
  }
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .container {
    max-width: 1024px; /* Large screens (lg) */
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px; /* Extra large screens (xl) */
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px; /* 2XL screens */
  }
}
